# Xcode Noise
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcuserdatad
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.xcuserstate
*.xcscmblueprint

# OSX Noise
.DS_Store

# SVN Noises (just in case)
.svn

# Web Translate It
config/
.wti

# Real "Secrets" configuration file
Classes/AppSecretConstants.h

Crashlytics.sh

# Update private certificate
Resources/dsa_priv.pem

Release/TVShows*
Release/wc.dmg
Release/template.dmg

